* {
    margin: 0;
}

body { 
    min-height: 100vh;
    background-color: #313940;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    gap: 40px;

    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.not-found {
    padding: 40px;
    flex-direction: column;
    gap: 25px;
}

.main {
    flex-direction: column;
    gap: 10px;
}

.not-found a {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);}

.active-link {
    color: #00c9b7;
    border-bottom: 1px solid #00c9b7;
}