* {
    margin: 0;
}

body { 
    min-height: 100vh;
    background-color: #313940;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    gap: 40px;

    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.not-found {
    padding: 40px;
    flex-direction: column;
    gap: 25px;
}

.main {
    flex-direction: column;
    gap: 10px;
}

.not-found a {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);}

.active-link {
    color: #00c9b7;
    border-bottom: 1px solid #00c9b7;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 350px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #F1F3F2;
    color: gray;
}

.card__image {
    max-width: 90%;
    height: 160px;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #F1F3F2;
}

.cards__wrapper {
    margin: 0 auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 5px;
}

.product__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}